objs/
*.o
*.a
*.so
*.so.*
*.dylib
*.dll
*.exe

/build/
test/build/
test/**/build/
*.out

.vscode/
.idea/
*.swp
*.swo
*~
.project
.settings/
.cproject
.vscode/ipch/

.DS_Store
Thumbs.db
desktop.ini

compile_commands.json
.cache/
clangd/
.clangd/
compile_flags.txt
tests/build